.checkbox {
	font-size: 23px;
	min-height: 5px;
	min-width: 5px;
	height: 30px;
	width: 40px;
}

.deleteButton {
	min-height: 5px;
	min-width: 5px;
	width: 25px;
	height: 25px;
}

.finalLayout {
	align-items: center;
	width: 100%;
}

.filterEntryRow {
	margin-left: 5px;
	width: 100%;

}

.finalButtonLayout {
	max-width: 50px;
	align-items: center;
}

.editor {
	width: 100%;
}

div[part="overlay"] {
	background: blue !important;
}

@media only screen and (min-width: 727px) {

	vaadin-combo-box {
		width: calc(49.95% - 1rem) !important;
		margin-right: 10px !important;
	}

	.TextFieldWithNull {
		width: calc(49.95% - 1rem) !important;
	}

	vaadin-date-picker {
		width: calc(49.95% - 1rem) !important;
		margin-right: 10px !important;
	}

}

@media only screen and (min-width: 900px) {

	vaadin-combo-box {
		width: calc(33% - 1rem) !important;
		margin-right: 10px !important;
	}

	.TextFieldWithNull {
		width: calc(33% - 1rem) !important;
	}

	vaadin-date-picker {
		width: calc(33% - 1rem) !important;
		margin-right: 10px !important;
	}

}

